.theme-main-layout {
  background-color: var(--bg-main);
  color: var(--text-color);
}

.theme-sidebar {
  background-color: var(--sidebar-bg);
}

.login-page {
  background-color: var(--bg-main);
}

/* change file name */